.submenu-container {
    background-color: #FAFAFA;
    padding: 43px 40px 0px 28px;
    font-weight: 500;
    font-size: 13px;
    flex-grow: 1; /* TODO Ajustar depois de aplicar os componentes na Home*/
    height: inherit;
    height: 100vh;
}

.submenu-container h3{
    padding-bottom: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.submenu-container a img {
    height: 12px;
    width: 12px;
}

.submenu-container li{
    display: flex;
    padding-bottom: 14px;
}

.submenu-container li a{
    display: flex;
    color: #84888F;
    text-decoration: none;
}

.submenu-container li.active a,
.submenu-container li a:hover {
  color: #000000;
}

.submenu-container li a p {
    padding-left: 15px;
    height: 13px;
}

.list-contas:after {
    content: "";
    display: inline-block;
    margin: 30px 0;
    height: 1px;
    width: 100px;
    border-bottom: 1px solid #F3F4F5;
}
