<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/css/overview.css" rel="stylesheet">

</head>

<div class="overtranlat">
    <div class="titulo"> Overview mensal </div>
    <div class="grafc">
        <div class="painel">
            <div class="disp"> DESPESAS </div>
            <div class="barra">
                <div class="perc-75 despinat"></div>
                <div class="perc-50 despinat"></div>
                <div class="perc-100 despinat"></div>
                <div class="perc-25 despinat"></div>
                <div class="perc-50 despinat"></div>
                <div class="perc-25 despinat"></div>
                <div class="perc-75 dispect"></div>




            </div>
            <div class="valor"> R$ 123,23 </div>
            <div class="valor2"> + R$ 71,22 </div>
        </div>
        <div class="painel">
            <div class="disp"> RECEITAS </div>
            <div class="barra">
                <div class="perc-75 recinat"></div>
                <div class="perc-50 recinat"></div>
                <div class="perc-100 recinat"></div>
                <div class="perc-25 recinat"></div>
                <div class="perc-50 recinat"></div>
                <div class="perc-25 recinat"></div>
                <div class="perc-75 receit"></div>





            </div>
            <div>
                <div class="valor"> R$ 123,23 </div>
                <div class="valor2 receitcolor"> + R$ 71,22 </div>

            </div>
        </div>




    </div>

<div class="despcateg">   
    <div class="titulo2"> Despesas por Categoria </div>
    <div class="grafc2">
        <div class="painel2 painellaranja">
            <div class="circle-container alimentacao"></div>
            <div class="caixa">
                <div class="formatdesp">Alimentação</div>
                <div class="valor3">123,23</div>
            </div>
            <div class="porcentagem">47%</div>
        </div>
        <div class="painel2 painelverde">
            <div class="circle-container salario"></div>
            <div class="caixa">
            <div class="formatdesp">Salário</div>
            <div class="valor3">123,23</div>
        </div>
        <div class="porcentagem1">47%</div>
        </div>
        <div class="painel2 painelazul">
            <div class="circle-container assinaturas"></div>
            <div class="caixa">
            <div class="formatdesp">Assinaturas</div>
            <div class="valor3">123,23</div>
        </div>
            <div class="porcentagem2">47%</div>
        </div>
    </div>

</div>