<nav>
    <ul>
        <li class="<%- (current_url == '/' || current_url.startsWith('/accounts')) && 'active' %>">
            <a href="/"><span class="icon icon-balance"></span></a>
        </li>
        <li class="<%- locals.menu_credit_card && 'active' %>">
            <a href="/credit-card"><span class="icon icon-credit_card"></span></a>
        </li>
        <li class="<%- locals.menu_charts && 'active' %>">
            <a href="/charts"><span class="icon icon-graphic"></span></a>
        </li>
    </ul>
</nav>
