<nav>
    <ul>
        <li class="<%- menu_conta && 'active' %>">
            <a href="/"><span class="icon icon-balance"></span></a>
        </li>
        <li class="<%- menu_credit_card && 'active' %>">
            <a href="/credit-card"><span class="icon icon-credit_card"></span></a>
        </li>
        <li class="<%- menu_charts && 'active' %>">
            <a href="/charts"><span class="icon icon-graphic"></span></a>
        </li>
    </ul>
</nav>
