.icon.icon-balance {
    -webkit-mask: url(/images/balance.svg) no-repeat center;
    mask: url(/images/balance.svg) no-repeat center;
}

.icon.icon-credit_card {
    -webkit-mask: url(/images/credit_card.svg) no-repeat center;
    mask: url(/images/credit_card.svg) no-repeat center;
}

.icon.icon-graphic {
    -webkit-mask: url(/images/graphic.svg) no-repeat center;
    mask: url(/images/graphic.svg) no-repeat center;
}

.icon.icon-category {
    -webkit-mask: url(/images/category.svg) no-repeat center;
    mask: url(/images/category.svg) no-repeat center;
}

.root > nav {
    background: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid #F3F4F5;
}

.root > nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.root > nav ul li {
    height: 39px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root > nav ul li a {
    display: block;
}

.root > nav ul li .icon {
    background-color: #D3D6DA;
    width: 24px;
    height: 24px;
    display: block;
}

.root > nav ul li.active .icon,
.root > nav ul li:hover .icon {
    background-color: #323232;
}

@media (min-width: 800px ) {
    .root > nav {
        border-top: initial;
        flex-direction: column;
        padding-top: 37px;
    }

    .root > nav ul {
        flex-direction: column;
        gap: 16px;
    }

    .root > nav ul li {
        position: relative;
    }

    .root > nav ul li.active::before {
        content: " ";
        background-color: #323232;
        width: 2px;
        height: 100%;
        position: absolute;
        right: -14px;
    }
}
