.icon.icon-balance {
    -webkit-mask: url(/images/balance.svg) no-repeat center;
    mask: url(/images/balance.svg) no-repeat center;
}

.icon.icon-credit_card {
    -webkit-mask: url(/images/credit_card.svg) no-repeat center;
    mask: url(/images/credit_card.svg) no-repeat center;
}

.icon.icon-graphic {
    -webkit-mask: url(/images/graphic.svg) no-repeat center;
    mask: url(/images/graphic.svg) no-repeat center;
}

.icon.icon-category {
    -webkit-mask: url(/images/category.svg) no-repeat center;
    mask: url(/images/category.svg) no-repeat center;
}

.menu-container {
    background: #ffffff;
    border-right: 1px solid #F3F4F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 18px;
    box-sizing: border-box;
}

.menu-container .logo {
    width: 34px;
}

.menu-container nav {
    margin-top: 37px;
}

.menu-container nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 5px;
}

.menu-container nav ul li {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.menu-container nav ul li a {
    display: block;
}

.menu-container nav ul li.active::before {
    content: " ";
    background-color: #323232;
    width: 2px;
    height: 100%;
    position: absolute;
    right: -24px;
}

.menu-container nav ul li .icon {
    background-color: #D3D6DA;
    width: 24px;
    height: 24px;
    display: block;
}

.menu-container nav ul li.active .icon,
.menu-container nav ul li:hover .icon {
    background-color: #323232;
}

.menu-container .user {
    border-radius: 17px;
    height: 34px;
    width: 34px;
    overflow: hidden;
}

.menu-container .user img {
    height: 100%;
    width: 100%;
}

