<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/submenu.css">
</head>

<body>
    <div class="submenu-container">
        <div class="submenu-list">
            <div class="list-contas">
                <h3>Contas</h3>
                <nav>
                    <ul>
						<li class="active">
							<a href=""><img src="/images/itau.svg" alt=""><p>Itaú</p></a>
						</li>
                        <li >
                            <a href=""><img src="/images/caixa.svg" alt=""><p>Caixa</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/nubank.svg" alt=""><p>Nubank</p></a>
                        </li>
                        <li>
                            <a href="" ><img src="/images/vector.svg" alt=""><p style="color: blue;">Adicionar</p></a>
                        </li>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="list-categorias">
                <h3>Categorias</h3>
                <nav>
                    <ul>
                        <li >
                            <a href=""><img src="/images/attractions-24px.svg" alt=""><p>Diversão</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/directions_car-24px.svg" alt=""><p>Transporte</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/home-24px.svg" alt=""><p>Moradia</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/local_grocery_store-24px.svg" alt=""><p>Alimentação</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/school-24px.svg" alt=""><p>Educação</p></a>
                        </li>
                        <li>
                            <a href=""><img src="/images/medication-24px.svg" alt=""><p>Saúde</p></a>
                        </li>     <li>
                            <a href="" ><img src="/images/vector.svg" alt=""><p style="color: blue;">Adicionar</p></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>
